/* Game Header */
.game-header {
    display: flex;
    margin-bottom: 12px;
    background-color: #3498db;
    color: #b1e0ff;
    justify-content: space-between;
    padding: 0 1rem;
}

.game-header-item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    height: 80px;
}

.mode-select {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid #3498db;
    background-color: white;
    color: #3498db;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.mode-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: 4px solid #b1e0ff;
    background-color: white;
    color: #3498db;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.mode-button:hover:not(:disabled) {
    background-color: #ecf0f1;
    transform: translateY(-1px);
}

.mode-button.active {
    background-color: #3498db;
    color: white;
}

.mode-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.quiz-question {
    font-size: 1.3rem;
    font-weight: 700;
    color: #ecf0f1;
}

.quiz-click-on {
    padding-left: 10px;
    padding-top: 1px;
}

.quiz-score {
    padding: 0.5rem 1rem 0.5rem 0.7rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    text-wrap: nowrap;
}

.quiz-score .correct {
    font-weight: 900;
    color: #59fea1;
}

.quiz-score .incorrect {
    color: #ffdbd8;
}
