/* Game Header */
.game-header {
    display: flex;
    margin-bottom: 12px;
    background-color: #3498db;
    color: #b1e0ff;
    justify-content: space-between;
    padding: 0 1rem;
}

.game-header-item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    height: 80px;
}

.quiz-question {
    font-size: 1.3rem;
    font-weight: 700;
    color: #ecf0f1;
}

.quiz-click-on {
    padding-left: 10px;
    padding-top: 1px;
}

.quiz-score {
    padding: 0.5rem 1rem 0.5rem 0.7rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    text-wrap: nowrap;
}

.quiz-score .correct {
    font-weight: 900;
    color: #59fea1;
}

.quiz-score .incorrect {
    color: #ffdbd8;
}
